<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>728353996206-a8pt68qcj7b51fq708rioll20ch09uk5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.728353996206-a8pt68qcj7b51fq708rioll20ch09uk5</string>
	<key>API_KEY</key>
	<string>AIzaSyDa8L_CxyIViNh2yqlH8wK1k9fp_1J0Efw</string>
	<key>GCM_SENDER_ID</key>
	<string>728353996206</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.a1softwares.Messenger</string>
	<key>PROJECT_ID</key>
	<string>messegerchat-94543</string>
	<key>STORAGE_BUCKET</key>
	<string>messegerchat-94543.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:728353996206:ios:1c6f88a40cf700f03f9c3f</string>
</dict>
</plist>